* {
    border: none;
    border-radius: 0;
    font-family: CozetteVector;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: #303030;
    color: #90cfb0;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #90cfb0;
}

#workspaces button:hover {
    box-shadow: inherit;
    color: #dedede;
}

#workspaces button.focused {
    color: #6acad8;
}

#clock {
    color: #dedede;
}

#battery {
    color: #dedede;
}

#cpu {
    color: #90cfb0;
}

#memory {
    color: #f9d87a;
}

#temperature {
    color: #ea9090;
}

#network {
    color: #d58cff;
}

#pulseaudio {
    color: #63b1bc;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#mpd {
    padding: 0 4px;
    margin: 2px 0;
}
