* {
    border: none;
    border-radius: 0;
    font-family: 'Source Code Pro';
    font-size: 14px;
    min-height: 0;
    margin: 1px 1px;
    padding: 0;
}

window#waybar {
    background: rgba(27, 29, 30, 0.9);
    color: #f8f8f2;
}

#workspaces button {
    padding: 0 5px;
    background: transparent;
    color: #465457;
}

#workspaces button:hover {
    box-shadow: inherit;
    color: #e6db74;
}

#workspaces button.focused {
    color: #f92672;
}

#clock {
    color: #f8f8f0;
}

#battery {
    color: #f8f8f0;
}

#cpu {
    color: #a6e22e;
}

#memory {
    color: #e6db74;
}

#temperature {
    color: #f8f8f0;
}

#network {
    color: #ae81ff;
}

#pulseaudio {
    color: #66d9ef;
}
